.festival-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px auto;
    padding: 16px;
    border: 1px solid #bd255f;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(63, 69, 70, 0.15);
    background: #fad8d8;
    max-width: 400px;
}